@import "./base.css";

#app {
  font-family: "Raleway", sans-serif;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(254 202 202);
  background-color: #38b2ac46;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

button {
  margin: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(248 113 113);
  }
}
